{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}
{% block body %}

<div class="col-md-12">

<h2>Voting Theory</h2>

<h3>Arrow's impossibility theorem</h3>
<h3>Condorcet criterion</h3>

</div>

{% endblock %}